<div class="row" *ngIf="successful == true">
  <div class="col s12">
    <div class="container">

      <div id="login-page" class="row">
        <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">

          <form class="pt-3" #registerForm="ngForm" (ngSubmit)="sendPassword(registerForm)" novalidate>
                   <img src="../../assets/images/logo/office-people-logo.png" width="100px" height="100px" style="margin-left:38%">
            <div class="row">
              <div class="input-field col s12">
                <h5 class="ml-4">Enter password to activate your account</h5>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
                <i class="material-icons prefix pt-2">lock_outline</i>
                <input [(ngModel)]="register.passcode" type="Password" class="form-control" name="passcode" id="passcode" placeholder="Password">

              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
                <i class="material-icons prefix pt-2">lock_outline</i>
                <input [(ngModel)]="register.confirm" type="Password" class="form-control" name="confirm" id="confirm" placeholder="Confirm Password">
              </div>
            </div>

            <div *ngIf="errorPassword">
              {{errorPassword}}
            </div>

            <div class="row">
              <div class="input-field col s12">
                <button class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12"
                  type="submit" name="action" [disabled]="!registerForm.valid">
                  Reset
                </button>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6 m6 l6">
                <p class="margin medium-small"><a href="https://officepeopleapp.com/#requestdemo" target="new">Register
                    Now!</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" *ngIf="successful == false">
  <div class="col s12">
    <div class="container">

      <div id="login-page" class="row">
        <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">

          <form class="pt-3" #registerForm="ngForm" (ngSubmit)="sendPassword(registerForm)" novalidate>
                   <img src="../../assets/images/logo/office-people-logo.png" width="100px" height="100px" style="margin-left:38%">
            <div class="row">
              <div class="input-field col s12">
                <h5 class="ml-4">Token is invalid or expired</h5>
                <h6 style="text-align: center;"> please request for new token by visiting the forgot password page </h6>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6 m6 l6">
                <p class="margin medium-small"><a href="/request-password">Request Password</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>

