<ion-row align-items-center>
  <ion-col>
    <span>Work Anniversaries</span>
  </ion-col>
  <ion-col>
    <ion-button color="primary" size="small" style="float:right" (click) ="goToAllAnniversaries()">View All</ion-button>
  </ion-col>
</ion-row>

<ion-row align-items-center>

  <ion-col *ngFor="let ann of selectedAnn">
    <ion-card >
      <ion-img src="{{ann.profile_pix_url}}"></ion-img>
      <ion-card-content >
        <ion-card-subtitle (click)="getStaff(ann)"> <a>{{ann.staff_name}}</a></ion-card-subtitle>
        <span style="font-size:8px">{{ann.department}}</span><br>
        <span style="font-size:8px">Joined: {{ann.date_joined}} </span>
        <ion-row align-items-center>
          <ion-col>
            <ion-button color="success" size="small" style="float:left" href="tel:{{ann.phone}}">
              <ion-icon name="call"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="success" size="small" style="float:right" (click)="shareViaEmail(ann)">
              <ion-icon name="mail"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>