<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Leave Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

<ion-card>
    <ion-col>
        <ion-avatar style="margin-left: auto; margin-right: auto;">
          <img [src] ="image">
        </ion-avatar>
         <ion-item>
      <!-- <ion-icon name="square" slot="start"></ion-icon> -->
      <i class="material-icons" slot="start">
        person_outline
      </i>
      <ion-label text-wrap>Surname - <b>{{staff.surname}}</b></ion-label>
    </ion-item>

    <ion-item>
      <!-- <ion-icon name="square" slot="start"></ion-icon> -->
      <i class="material-icons" slot="start">
        person_outline
      </i>
      <ion-label text-wrap>Othernames - {{staff.othernames}}</ion-label>
    </ion-item>
    <ion-item>
    <ion-label text-wrap>Role: {{staff.role}}</ion-label>
    </ion-item>
    <ion-item> 
    <ion-label text-wrap>Department: {{staff.department}}</ion-label> 
    </ion-item>
    </ion-col>
<br>
    <ion-row>
    <ion-col style="text-align: center">
    <ion-button (click)="openModal()" color="primary" round outline>Make Request</ion-button>
    </ion-col>
    </ion-row>
</ion-card>

<br>
    <ion-segment [(ngModel)]="leave" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="requests">
        Requests
         <ion-icon name="switch"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="balance">
        Balance
        <ion-icon name="clipboard"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="holidays">
        Holidays
        <ion-icon name="bonfire"></ion-icon>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="leave">
                <ion-list *ngSwitchCase="'requests'">
                  <ion-item *ngFor="let request of requests">
                    <ion-card>
                        <ion-card-content>
                    <ion-col align-self-center text-center>
                      <ion-icon name="calendar"></ion-icon>
                        <b> Start Date:</b> {{ request.startDate }}  <br> 
                    <br>
                        <ion-icon name="calendar"></ion-icon>
                        <b> End Date: </b> {{ request.endDate }} <br>
                    <br>
                        <ion-icon name="expand"></ion-icon>
                        <b> Leave Type: </b> {{ request.leaveType }}  <br>
                    <br>
                        <ion-icon name="list-box"></ion-icon>
                        <b> Reason for Leave: </b> {{ request.leaveReason }}
                    <br>
                    <br>
                          </ion-col> <br>
                        </ion-card-content>
                      </ion-card>
                  </ion-item> <br>


                  For Pending Requests:
                  <ion-item *ngFor="let pendings of pending">
                    <ion-card>
                        <ion-card-content>
                    <ion-col align-self-center text-center>
                      <ion-icon name="calendar"></ion-icon>
                        <b> Start Date:</b> {{ pendings.startDate }}  <br> 
                    <br>
                        <ion-icon name="calendar"></ion-icon>
                        <b> End Date: </b> {{ pendings.endDate }} <br>
                    <br>
                        <ion-icon name="expand"></ion-icon>
                        <b> Leave Type: </b> {{ pendings.leaveType }}  <br>
                    <br>
                        <ion-icon name="list-box"></ion-icon>
                        <b> Reason for Leave: </b> {{ pendings.leaveReason }}
                    <br>
                    <br>
                          </ion-col> <br>
                        </ion-card-content>
                      </ion-card>
                  </ion-item>
                </ion-list>

    <ion-list *ngSwitchCase="'balance'">
    <ion-card>
      <ion-item *ngFor= "let balances of balance">
        <ion-col>
        {{balances}} <br>
      </ion-col>
      </ion-item>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'holidays'">
    <ion-card>
      <ion-item *ngFor="let holiday of holiday">
      <ion-col>
        {{holiday}}<br>
      </ion-col>
      </ion-item>
      </ion-card>
    </ion-list>
  </div>

</ion-content>
