<ion-header>
<ion-toolbar color="primary">
<ion-title>Check-In And Out</ion-title>
  <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding ngOnInit>


  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


<ion-card>
<br>
<ion-col>
 <ion-avatar style="margin-left: auto; margin-right: auto;">
         <img [src] ="image">
        </ion-avatar>
        </ion-col>
        <ion-item>
      <ion-label text-wrap style="text-align: center;"> <p> Welcome <b>{{staff.surname}} {{ staff.othernames }}!</b></ion-label>
    </ion-item>

  <br>
  <br>
    <ion-row>
    <ion-col style="text-align: center">
    Your Current Location is: <br>
    <b> {{location}} </b>
    <br>
    </ion-col>
    </ion-row>


</ion-card>
<br>
<ion-card>
<br>
<br>
<ion-row>
    <ion-col style="text-align: center">
    <ion-button (click)="openCheckinModal()" color="primary" round outline>Check In</ion-button>
    </ion-col>
    </ion-row>

    <ion-row>
    <ion-col style="text-align: center">
    <ion-button (click)="openCheckOutModal()" color="primary" round outline>Check Out</ion-button>
    </ion-col>
    </ion-row>

    <br>
   <p class="ion-text-center"> Someone else? click  <a (click)="openColleagueModal()">here to help a colleague.</a> </p>
    <br>
    <br>
</ion-card>

</ion-content>
