<app-top></app-top>
<app-sidebar></app-sidebar>

<!-- BEGIN: Page Main-->
<div id="main">
  <div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
    <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
      <!-- Search for small screen-->
      <div class="container">
        <div class="row">
          <div class="col s10 m6 l6">
            <h5 class="breadcrumbs-title mt-0 mb-0">Branch</h5>
            <ol class="breadcrumbs mb-0">
              <li class="breadcrumb-item"><a href="/">Office People</a>
              </li>
              <li class="breadcrumb-item"><a href="/">Human Resources</a>
              </li>
              <li class="breadcrumb-item active">Branch
              </li>
            </ol>
          </div>

        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="container">
        <ngx-ui-loader></ngx-ui-loader>
        <div class="row">

          <div class="col s12 m6 l6">
            <div id="placeholder" class="card card card-default scrollspy">
              <div class="card-content">
                <h4 class="card-title">Create New Branch</h4>
                <form class="col s12" [formGroup] = "form" (ngSubmit)="createBranch()" novalidate>

                  <div class="row">
                    <div class="input-field col s12">
                      <input formControlName = "branchName" type="text" class="form-control" name="branchName" required
                        id="branchName" placeholder="Branch Name">
                      <label for="branchName">Branch Name</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input formControlName="email" type="email" class="form-control" name="email" id="email" required
                        placeholder="Email">
                      <label for="email">Branch Email</label>
                    </div>
                  </div>


                  <div class="row">
                    <div class="input-field col s12">
                      <input formControlName="phoneNo" type="number" class="form-control" name="phoneNo" id="phoneNo" required
                        placeholder="Branch Phone No">
                      <label for="phone">Branch Phone No</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input formControlName="address" type="text" class="form-control" name="address" id="address" required
                        placeholder="Branch Address">
                      <label for="address">Branch Address</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="row">
                      <div class="input-field col s12">
                        <button class="btn cyan waves-effect waves-light right" type="submit" [disabled]="!form.valid" name="action">
                          <i class="material-icons left">add_circle_outline</i>
                          Add Branch
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>



        <div class="row">
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <h4 class="card-title">Your Branches</h4>
                <div class="row">
                  <div class="col s12">
                    <table id="page-length-option" class="display">
                      <thead>
                        <tr>
                          <th>Branch ID</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Phone No</th>
                          <th>Address</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let branch of branches['data']">
                          <td>{{branch.branchId}}</td>
                          <td>{{branch.branchName}}</td>
                          <td>{{branch.email}}</td>
                          <td>{{branch.phoneNo}}</td>
                          <td>{{branch.address}}</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Branch ID</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Phone No</th>
                          <th>Address</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- END: Page Main-->

<app-footer></app-footer>
