<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button  defaultHref="dashboard"></ion-back-button>
        </ion-buttons>
    <ion-title>Staff for {{dept.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-card>
      <!-- <p text-center text-wrap>Staff information for {{dept.name}} Department</p> -->
      <!-- <ion-item href="#">
        <ion-icon name="square" slot="start"></ion-icon>
        <ion-label text-wrap>{{dept.name}}</ion-label>
      </ion-item>

      <ion-item href="mailto:{{dept.email}}">
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label text-wrap>{{dept.email}}</ion-label>
        </ion-item>

        <ion-item href="#">
            <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            <ion-label text-wrap>{{dept.description}}</ion-label>
          </ion-item> -->
   
    <!-- <ion-list>
        <ion-item *ngFor="let stf of staff" (click)="goToStaffDetails(stf)" detail>
          <ion-avatar slot="start">
            <img src="assets/images/avatar.png">
          </ion-avatar>
          <ion-label text-wrap>{{stf.surname}} - {{stf.othernames}} </ion-label>
          <span> {{stf.department}} </span>
        </ion-item>
      </ion-list> -->


      <mat-list>
          <h3 mat-subheader>Staff of {{dept.name}}</h3>
          <mat-list-item *ngFor="let stf of staff" (click)="goToStaffDetails(stf)" detail>
        
            <div class="circle" matListAvatar style="width:40px; height:40px;">
              <div class="circle__inner">
                <div class="circle__wrapper">
                  <div class="circle__content">{{stf.surname | slice:0:1 | uppercase}}{{stf.othernames | slice:0:1 | uppercase}}
                  </div>
                </div>
              </div>
            </div>
            <h4 mat-line>{{stf.surname}} - {{stf.othernames}}</h4>
            <p mat-line> {{stf.department}} - {{stf.departmentId}}</p>
            <mat-divider></mat-divider>
            <ion-icon name="arrow-dropright" end></ion-icon>
          </mat-list-item>
        </mat-list>

    </ion-card>

</ion-content>
