 <app-top></app-top>
<app-sidebar></app-sidebar>

<div id="main">
  <div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
    <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
      <!-- Search for small screen-->
      <div class="container">
        <div class="row">
          <div class="col s10 m6 l6">
            <h5 class="breadcrumbs-title mt-0 mb-0">Leave</h5>
            <ol class="breadcrumbs mb-0">
              <li class="breadcrumb-item"><a href="/">Office People</a>
              </li>
              <li class="breadcrumb-item"><a href="/">Human Resources</a>
              </li>
              <li class="breadcrumb-item active">Leave
              </li>
            </ol>
          </div>

        </div>
      </div>
    </div>

 <div class="col s12">
      <div class="container">

        <div class="row">

          <div class="col s12 m6 l6">
            <div id="placeholder" class="card card card-default scrollspy">
              <div class="card-content">
                <h4 class="card-title">Create New Leave</h4>
                <form class="col s12" #leaveForm="ngForm" (ngSubmit)="createLeave()" novalidate>

                  <div class="row">
                    <div class="input-field col s12">
                      <input #leaveType [(ngModel)]="leave.leaveType" (keyup.enter)="leaveType" type="text" class="form-control" name="leaveType" id="leaveType" placeholder="Leave Type" >
                      <label for="company_name">Leave Type</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input #days [(ngModel)]="leave.days" (keyup.enter)="days" type="number" class="form-control" name="days" id="days" placeholder="Leave Days">
                      <label for="days">Leave days</label>
                    </div>
                  </div>


                  <div class="data">
                <table class="display">
                      <thead>
                        <tr>
                          <th>Leave Type</th>
                          <th>Days</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let leaves of display">
                          <td>{{leaves.leaveType}}</td>
                          <td>{{leaves.days}}</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Leave Type</th>
                        <th>Days</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>


                  <div class="row">
                    <div class="row">
                      <div class="input-field col s12">
                        <span class="input-group-text" (click)="addLeave(leaveForm.value)">
                  <i class="material-icons">add</i>
                  </span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="row">
                      <div class="input-field col s12">
                        <button class="btn cyan waves-effect waves-light right" type="submit" name="action">
                          <i class="material-icons left">add_circle_outline</i>
                          Add Leave
                        </button>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>

        </div>
        </div>
        </div>

        <div class="row">
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <h4 class="card-title">Your Leave</h4>
                <div class="row">
                  <div class="col s12">
                    <table class="display">
                      <thead>
                        <tr>
                          <th>Leave Type</th>
                          <th>Days</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let lv of leaves">
                          <td>{{lv.leaveType}}</td>
                          <td>{{lv.days}}</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Leave Type</th>
                        <th>Days</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

<app-footer></app-footer>
