<ion-header>
<ion-toolbar color="primary">
<ion-title>Check-In And Out</ion-title>
  <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>
<ion-card>
    <img src="assets/images/selfie_rotate.gif">     
                <ion-card-content>
                  <ion-button expand="block" ion-button color="danger" type="button" full round large (click)="takePhoto()">
                    <ion-icon name="md-camera"></ion-icon>
                  </ion-button>
                 </ion-card-content>
                 <br>
                 <b> <p class="ion-text-center"> Tap the icon Above to take a selfie and complete check in. </p> </b>

  </ion-card>

</ion-content>


