<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="assets/images/Office_People_Header.png" style="width:50%"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-img src="assets/images/login.png" style="width:50%; margin-left: auto; margin-right: auto; margin-top:20%">
    </ion-img>
    <ion-card-header>
      <p text-center>Provide your Office People Credentials</p>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">{{email}}</ion-label>
        <ion-input type="text" name="email" id="email" required="true" inputmode="email" [(ngModel)]="user.email">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{password}}</ion-label>
        <ion-input type="password" name="password" required="true" inputmode="password" [(ngModel)]="user.passcode">
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-checkbox checked="true" [(ngModel)]="user.persist" name="persist"></ion-checkbox> <span>Remember Me
          </span>
        </ion-col>

        <ion-col>
          <a href="/forgot-password">
            <span style="font-size:12px">Forgot Password?</span></a>
        </ion-col>

      </ion-row>

      <div margin-top>
        <button mat-raised-button color="primary" style="width:100%" (click)="doLogin(user)">Login</button>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>