
         <div id="login-page" class="row">
        <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">

              <div class="card-content">
                <h4 class="card-title">Create New Administrator</h4>
                <div class="text-center mt-4 font-weight-light">
                  Already have an account? <a href="/cmrLogin" >Login</a>
                </div>
                <br>
                <form class="col s12" #adminForm="ngForm" (ngSubmit)="createAdmin(adminForm)" novalidate>


                  <div class="row">
                    <div class="input-field col s12">
                      <input [(ngModel)]="admin.email" type="text" class="form-control" name="email" id="email" placeholder="Admin Email">
                      <label for="email">Admin Email</label>
                    </div>
                  </div>


                   <div class="row">
                    <div class="input-field col s12">
                      <input [(ngModel)]="admin.passcode" type="password" class="form-control" name="passcode" id="passcode" placeholder="Admin Password" >
                      <label for="passcode">Admin Password</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="row">
                      <div class="input-field col s12">
                        <button class="btn cyan waves-effect waves-light right" type="submit" name="action">
                          <i class="material-icons left">add_circle_outline</i>
                          Add Admin
                        </button>
                      </div>
                    </div>
                  </div>
                  
                </form>
              </div>


  </div>
</div>


<app-footer></app-footer>