<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> Successful!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
<b> <p class="ion-text-center"> You Have Been Clocked In! </p> </b>
<br>
<br>
    <img src="assets/images/checked.gif">     
                <ion-card-content>
                <p class="ion-text-center"> You are now checked In at:</p>
                <br>
                <b> <p class="ion-text-center"> {{ location }} </p> </b>
                <b> <p class="ion-text-center"> {{ dateNow}} </p> </b>
                 </ion-card-content>
                 

  </ion-card>

  <ion-card>
                  <ion-button expand="block" ion-button color="success" type="button" full round large (click)="ok()">
                    OK
                  </ion-button>
  </ion-card>

</ion-content>
