<!-- BEGIN: SideNav-->
<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square">
  <div class="brand-sidebar">
    <h1 class="logo-wrapper"><a class="brand-logo darken-1" href="/">
        <img src={{updatedLogo}} alt="" />
        <span class="logo-text hide-on-med-and-down">{{company['company_name']}}</span></a>
      <a class="navbar-toggler" href="#">
        <i class="material-icons">radio_button_checked</i>
      </a>
    </h1>
  </div>
  <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out"
    data-menu="menu-navigation" data-collapsible="menu-accordion">
    <li class="active bold">
      <a class="collapsible-header waves-effect waves-cyan " href="/">
        <i class="material-icons">dashboard</i>
        <span class="menu-title" data-i18n="">Dashboard</span>
      </a>
    </li>

    <li class="navigation-header"><a class="navigation-header-text">Human Resources</a><i
        class="navigation-header-icon material-icons">more_horiz</i>
    </li>

    <li class="bold"><a class="collapsible-header waves-effect waves-cyan "><i class="material-icons">group</i><span
          class="menu-title" data-i18n="">Staff</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/staff" data-i18n="">
           <i class="material-icons">indeterminate_check_box</i><span>Manage</span></a>
          </li>
        </ul>
      </div>
    </li>



    <li class="bold"><a class="collapsible-header waves-effect waves-cyan "><i
          class="material-icons">announcement</i><span class="menu-title" data-i18n="">Announcement</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/announcement" data-i18n="">
           <i class="material-icons">indeterminate_check_box</i><span>Manage</span></a>
          </li>
        </ul>
      </div>
    </li>


    <li class="bold"><a class="collapsible-header waves-effect waves-cyan "><i
          class="material-icons">linear_scale</i><span class="menu-title" data-i18n="">Anniversary</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/anniversary" data-i18n="">
           <i class="material-icons">indeterminate_check_box</i><span>Manage</span></a>
          </li>
        </ul>
      </div>
    </li>


    <li class="bold"><a class="collapsible-header waves-effect waves-cyan "><i
          class="material-icons">perm_contact_calendar</i><span class="menu-title" data-i18n="">Birthday</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/birthday" data-i18n="">
           <i class="material-icons">indeterminate_check_box</i><span>Manage</span></a>
          </li>
        </ul>
      </div>
    </li>


    <li class="bold"><a class="collapsible-header waves-effect waves-cyan ">
    <i class="material-icons">directions_bike</i><span class="menu-title" data-i18n="">Leave</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/leave" data-i18n="">
           <i class="material-icons">indeterminate_check_box</i><span>Manage</span></a>
          </li>
        </ul>
      </div>
    </li>

      <li class="bold"><a class="collapsible-header waves-effect waves-cyan ">
    <i class="material-icons">check_circle_outline</i><span class="menu-title" data-i18n="">Check</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/check" data-i18n="">
          <i class="material-icons">indeterminate_check_box</i><span>Manage</span></a>
          </li>
        </ul>
      </div>
    </li>

    <!-- <li class="bold"><a class="collapsible-header waves-effect waves-cyan "><i
          class="material-icons">domain</i><span class="menu-title" data-i18n="">Company</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/company" data-i18n=""><i
                class="material-icons">radio_button_unchecked</i><span>Manage</span></a>
          </li>
        </ul>
      </div>
    </li> -->




    <li class="navigation-header"><a class="navigation-header-text">Settings</a><i
        class="navigation-header-icon material-icons">more_horiz</i>
    </li>

    <li class="bold"><a class="collapsible-header waves-effect waves-cyan "><i
          class="material-icons">device_hub</i><span class="menu-title" data-i18n="">Branch</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/branch" data-i18n="">
           <i class="material-icons">indeterminate_check_box</i><span>Manage</span></a>
          </li>
        </ul>
      </div>
    </li>


    <li class="bold"><a class="collapsible-header waves-effect waves-cyan "><i
          class="material-icons">group_work</i><span class="menu-title" data-i18n="">Departments</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/department" data-i18n="">
           <i class="material-icons">indeterminate_check_box</i><span>Manage</span></a>
          </li>
        </ul>
      </div>
    </li>

     <li class="bold"><a class="collapsible-header waves-effect waves-cyan ">
     <i class="material-icons">assignment</i><span class="menu-title" data-i18n="">Policy</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/policy" data-i18n="">
           <i class="material-icons">indeterminate_check_box</i><span>Manage</span></a>
          </li>
        </ul>
      </div>
    </li>

    <li class="bold"><a class="collapsible-header waves-effect waves-cyan ">
    <i class="material-icons">apps</i><span class="menu-title" data-i18n="">More</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/more" data-i18n="">
          <i class="material-icons">indeterminate_check_box</i><span>Manage</span></a>
          </li>
        </ul>
      </div>
    </li>


    <!-- <li class="navigation-header"><a class="navigation-header-text">Human Resources </a><i
        class="navigation-header-icon material-icons">more_horiz</i>
    </li>
    <li class="bold"><a class="collapsible-header waves-effect waves-cyan " ><i
          class="material-icons">content_paste</i><span class="menu-title" data-i18n="">Staff</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/staff" data-i18n=""><i
                class="material-icons">radio_button_unchecked</i><span>Manage</span></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="bold"><a class="collapsible-header waves-effect waves-cyan " ><i
          class="material-icons">crop_original</i><span class="menu-title" data-i18n="">Customer</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/customer" data-i18n=""><i
                class="material-icons">radio_button_unchecked</i><span>Manage</span></a>
          </li>
        </ul>
      </div>
    </li>

    <li class="navigation-header"><a class="navigation-header-text">Financials </a><i
        class="navigation-header-icon material-icons">more_horiz</i>
    </li>
    <li class="bold"><a class="collapsible-header waves-effect waves-cyan "><i
          class="material-icons">content_paste</i><span class="menu-title" data-i18n="">Bank/Cash</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/bank" data-i18n=""><i
                class="material-icons">radio_button_unchecked</i><span>Bank</span></a>
          </li>
          <li><a class="collapsible-body" href="/cash" data-i18n=""><i
                class="material-icons">radio_button_unchecked</i><span>Cash</span></a>
          </li>
        </ul>
      </div>
    </li>

    <li class="navigation-header"><a class="navigation-header-text">Settings </a><i
        class="navigation-header-icon material-icons">more_horiz</i>
    </li>
    <li class="bold"><a class="collapsible-header waves-effect waves-cyan "><i
          class="material-icons">cast</i><span class="menu-title" data-i18n="">Company</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/company" data-i18n=""><i
                class="material-icons">radio_button_unchecked</i><span>Manage</span></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="bold"><a class="collapsible-header waves-effect waves-cyan "><i
          class="material-icons">invert_colors</i><span class="menu-title" data-i18n="">Branch</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/branch" data-i18n=""><i
                class="material-icons">radio_button_unchecked</i><span>Manage</span></a>
          </li>
        </ul>
      </div>
    </li>

    <li class="navigation-header"><a class="navigation-header-text">Reports </a><i
        class="navigation-header-icon material-icons">more_horiz</i>
    </li>
    <li class="bold"><a class="collapsible-header waves-effect waves-cyan " ><i
          class="material-icons">pie_chart_outlined</i><span class="menu-title" data-i18n="">Reports</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/reports" data-i18n=""><i
                class="material-icons">radio_button_unchecked</i><span>Manage</span></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="navigation-header"><a class="navigation-header-text">Misc </a><i
        class="navigation-header-icon material-icons">more_horiz</i>
    </li>
    <li class="bold"><a class="waves-effect waves-cyan " href="/"><i
          class="material-icons">import_contacts</i><span class="menu-title" data-i18n="">Documentation</span></a>
    </li>
    <li class="bold"><a class="waves-effect waves-cyan " href="/"><i
          class="material-icons">help_outline</i><span class="menu-title" data-i18n="">Support</span></a>
    </li> -->
  </ul>
  <div class="navigation-background"></div><a
    class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only"
    href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
</aside>
<!-- END: SideNav-->
