<ion-searchbar name="searchTerm" [(ngModel)]="searchTerm" placeholder="Search Branches" animated
  (ionChange)="filterList($event)"></ion-searchbar>
<ion-list>
  <ion-item *ngFor="let branch of branches" (click)="goToBranchDetails(branch)" detail>
    <ion-avatar slot="start">
      <img src="assets/images/OfficePeople_Logo.png">
    </ion-avatar>
    <ion-label text-wrap>{{branch['branchName']}}</ion-label>
    <!-- <ion-icon name="arrow-dropright" end></ion-icon> -->
  </ion-item>
</ion-list>

<span *ngIf="isDataAvail">No matching data found</span>