<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Staff Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <p text-center text-wrap>Staff Information for {{staff.surname}} - {{staff.othernames}}</p>

    <ion-row align-items-center>
      <ion-col>
        <ion-avatar style="margin-left: auto; margin-right: auto;">
          <img src="assets/images/avatar.png">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <b>{{staff.surname}} - {{staff.othernames}} </b><br>
        Role: {{staff.role}} <br>
        Department: {{staff.department}}
      </ion-col>
    </ion-row>


    <ion-item>
      <ion-label position="stacked">About {{staff.surname}} - {{staff.othernames}}</ion-label>
      <p>{{staff.about}}</p>
    </ion-item>

    <!-- <ion-item>
        <ion-label [ngModel]="staff.about" text-wrap> {{staff.about}}
        </ion-label>
      </ion-item> -->

    <ion-item>
      <!-- <ion-icon name="square" slot="start"></ion-icon> -->
      <i class="material-icons" slot="start">
        person_outline
      </i>
      <ion-label text-wrap>Surname - <b>{{staff.surname}}</b></ion-label>
    </ion-item>

    <ion-item>
      <!-- <ion-icon name="square" slot="start"></ion-icon> -->
      <i class="material-icons" slot="start">
        person_outline
      </i>
      <ion-label text-wrap>Othernames - {{staff.othernames}}</ion-label>
    </ion-item>

    <ion-item>
      <!-- <ion-icon name="mail" slot="start"></ion-icon> -->
      <i class="material-icons" slot="start">
        contact_mail
      </i>
      <a href="mailto:{{staff.email}}" style="text-decoration: none; color: black">
        <ion-label text-wrap>Email - {{staff.email}}</ion-label>
      </a>
    </ion-item>

    <ion-item>
      <!-- <ion-icon name="call" slot="start"></ion-icon> -->
      <i class="material-icons" slot="start">
        contact_phone
      </i>
      <a href="tel:{{staff.phoneNo}}" style="text-decoration: none; color: black">
        <ion-label text-wrap>Phone - {{staff.phoneNo}}</ion-label>
      </a>
    </ion-item>

    <ion-item>
      <!-- <ion-icon name="person" slot="start"></ion-icon> -->
      <i class="material-icons" slot="start">
        face
      </i>
      <ion-label text-wrap> Gender - {{staff.gender}} </ion-label>
    </ion-item>

    <ion-item>
      <!-- <ion-icon name="calendar" slot="start"></ion-icon> -->
      <i class="material-icons" slot="start">
        cake
      </i>
      <ion-label text-wrap> Date of Birth - {{staff.date_of_birth}} </ion-label>
    </ion-item>

    <ion-item >
      <!-- <ion-icon name="calendar" slot="start"></ion-icon> -->
      <i class="material-icons" slot="start">
        device_hub
      </i>
      <ion-label text-wrap > Branch -  <a (click)="goToBranchDetails(branch)">{{branch.branchName}}</a>
      </ion-label>                                                                                                                                                      
    </ion-item>


    <div *ngIf="staff.reporting_line_ids">
      <span>Reporting To</span>
      <ion-item>
        <i class="material-icons" slot="start">
          person_outline
        </i>
        <ion-label text-wrap (click)="getStaffDetails(staff.line_manager_id)"><a>Staff - {{staff.line_manager_id}}</a>
        </ion-label>
      </ion-item>
    </div>

    <div *ngIf="staff.reporting_line_ids">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Downlines
            </mat-panel-title>
            <mat-panel-description>
              <!-- Type your name and age -->
            </mat-panel-description>

          </mat-expansion-panel-header>


          <ion-item *ngFor="let report of staff.reporting_line_ids">
            <i class="material-icons" slot="start">
              person_outline
            </i>
            <ion-label text-wrap (click)="getStaffDetails(report)"><a>Staff - {{report}}</a></ion-label>
          </ion-item>


        </mat-expansion-panel>

      </mat-accordion>
    </div>




    <!-- <ion-item >
        <span>Reporting To</span>
      <i class="material-icons" slot="start">
        person_outline
      </i>
      <ion-label text-wrap><a>Staff - {{staff.line_manager_id}}</a></ion-label>
    </ion-item> -->



    <!-- {{staff.reporting_line_ids.length|json}} -->

    <ion-item>
      <!-- <ion-icon name="calendar" slot="start"></ion-icon> -->
      <i class="material-icons" slot="start">
        calendar_today
      </i>

      <ion-label text-wrap>Date Joined - {{staff.date_joined}}</ion-label>
    </ion-item>

  </ion-card>

</ion-content>