<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-grid>
        <ion-row>
          <ion-col>
            <ion-img src="assets/images/OfficePeople_Logo.png"
              style="width:20%; margin-left: auto; margin-right: auto; margin-top:10%"></ion-img>
            <ion-text>
              <h2 text-center>OFFICE PEOPLE</h2>
              <p text-center>Your online working environment</p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>

  <h2 text-center>Forgot your Password?</h2>
  <p>Don't worry. Resetting your password is easy, just tell us the email address you registered with <b>Office People</b>. </p>

  <ion-input placeholder="Email Address" type="email" required="true"></ion-input>

  <ion-button color="primary" expand="full">Reset my password</ion-button>

</ion-content>
