<app-top></app-top>
<app-sidebar></app-sidebar>

<!-- <div class="container-fluid page-body-wrapper">
  
  <div class="main-panel">
    <div class="content-wrapper">
      <h4>Anniversary</h4>

      <div class="row">

          <div class="col-md-8 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Profile a Branch</h5>
                  <div class="table-responsive">

                    <form class="forms-sample" #anniversary="ngForm" (ngSubmit)="createAnniversary(anniversary)" novalidate>

                      <div class="form-group">
                        <label for="companyId">Company</label>
                        <select class="form-control" id="companyId" [(ngModel)]="anniversary.companyId" name="companyId">
                          <option *ngFor="let coy of companies" [ngValue]="coy.companyId">{{coy.company_name}}</option>
                        </select>
                      </div>



                          <div class="form-group">
                            <label for="branchId">Branch</label>
                            <select class="form-control" id="branchId" [(ngModel)]="anniversary.branchId" name="branchId">
                              <option *ngFor="let branch of branches['data']" [ngValue]="branch.branchId">{{branch.branchName}}
                              </option>
                            </select>
                          </div>


                      <div class="form-group">
                        <label for="name">Name</label>
                        <input [(ngModel)]="anniversary.branchName" type="text" class="form-control" name="branchName" id="branchName"
                          placeholder="Name">
                      </div>
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input [(ngModel)]="anniversary.email" type="text" class="form-control" name="email" id="email"
                          placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label for="phoneNo">Phone No</label>
                        <input [(ngModel)]="anniversary.phoneNo" type="text" class="form-control" name="phoneNo" id="phoneNo"
                          placeholder="Phone No">
                      </div>
                      <div class="form-group">
                        <label for="address">Address</label>
                        <input [(ngModel)]="anniversary.address" type="text" class="form-control" name="address" id="address"
                          placeholder="Address">
                      </div>

                      <button type="submit" class="btn btn-primary mr-2" onclick="showSwal('success-message')">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>


        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body d-flex flex-column justify-content-between">
              <h4 class="card-title">All Anniversaries</h4>
              <div class="d-flex justify-content-between">

                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Branch ID</th>
                        <th>Staff Name</th>
                        <th>Department</th>
                        <th>Date Joined</th>
                        <th>Email</th>
                        <th>Phone</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ann of anniversaries">
                        <td>{{ann.branchId}}</td>
                        <td>{{ann.staff_name}}</td>
                        <td>{{ann.department}}</td>
                        <td>{{ann.date_joined}}</td>
                        <td>{{ann.email}}</td>
                        <td>{{ann.phone}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- BEGIN: Page Main-->
<div id="main">
  <div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
    <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
      <!-- Search for small screen-->
      <div class="container">
        <div class="row">
          <div class="col s10 m6 l6">
            <h5 class="breadcrumbs-title mt-0 mb-0">Anniversary</h5>
            <ol class="breadcrumbs mb-0">
              <li class="breadcrumb-item"><a href="/">Office People</a>
              </li>
              <li class="breadcrumb-item"><a href="/">Human Resources</a>
              </li>
              <li class="breadcrumb-item active">Anniversary
              </li>
            </ol>
          </div>

        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="container">
          <ngx-ui-loader></ngx-ui-loader>
        <!-- <div class="row">

          <div class="col s12 m6 l6">
            <div id="placeholder" class="card card card-default scrollspy">
              <div class="card-content">
                <h4 class="card-title">Create New Anniversary</h4>
                <form class="col s12" #anniversary="ngForm" (ngSubmit)="createAnniversary(anniversary)" novalidate>
                
                  <div class="row">
                    <div class="input-field col s12">
                      <select id="branchId" [(ngModel)]="anniversary.branchId" name="branchId">
                        <option value="" disabled selected>Choose your Branch</option>
                        <option *ngFor="let branch of branches['data']" [ngValue]="branch.branchId">{{branch.branchName}}
                        </option>
                      </select>
                      <label for="branchId">Branch</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Name" [(ngModel)]="anniversary.branchName" type="text" class="form-control" name="branchName" id="branchName">
                      <label for="title">Name</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Email" [(ngModel)]="anniversary.email" type="text" class="form-control" name="email" id="email">
                      <label for="email">Email</label>
                    </div>
                  </div>


                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Phone No" [(ngModel)]="anniversary.phoneNo" type="text" class="form-control" name="phoneNo" id="phoneNo">
                      <label for="phoneNo">Phone No</label>
                    </div>
                  </div>


                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Address" [(ngModel)]="anniversary.address" type="text" class="form-control" name="address" id="address">
                      <label for="address">Address</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="row">
                      <div class="input-field col s12">
                        <button class="btn cyan waves-effect waves-light right" type="submit" name="action">
                          <i class="material-icons left">add_circle_outline</i>
                          Add Anniversary
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div> -->



        <div class="row">
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <h4 class="card-title">Your Anniversaries</h4>
                <div class="row">
                  <div class="col s12">
                    <table id="page-length-option" class="display">
                      <thead>
                        <tr>
                          <th>Branch ID</th>
                        <th>Staff Name</th>
                        <th>Department</th>
                        <th>Date Joined</th>
                        <th>Email</th>
                        <th>Phone</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let ann of anniversaries">
                          <td>{{ann.branchId}}</td>
                          <td>{{ann.staff_name}}</td>
                          <td>{{ann.department}}</td>
                          <td>{{ann.date_joined}}</td>
                          <td>{{ann.email}}</td>
                          <td>{{ann.phone}}</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Branch ID</th>
                          <th>Staff Name</th>
                          <th>Department</th>
                          <th>Date Joined</th>
                          <th>Email</th>
                          <th>Phone</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- END: Page Main-->

<app-footer></app-footer>