<ion-searchbar name="searchTerm" [(ngModel)]="searchTerm" placeholder="Search Staff" animated
  (ionChange)="filterList($event)"></ion-searchbar>

<mat-list>
  <h3 mat-subheader>Staff</h3>
  <mat-list-item *ngFor="let stf of allStaff" (click)="goToStaffDetails(stf)" detail>

    <div class="circle" matListAvatar style="width:40px; height:40px;">
      <div class="circle__inner">
        <div class="circle__wrapper">
          <div class="circle__content">{{stf.surname | slice:0:1 | uppercase}}{{stf.othernames | slice:0:1 | uppercase}}
          </div>
        </div>
      </div>
    </div>
    <h4 mat-line>{{stf.surname}} - {{stf.othernames}}</h4>
    <p mat-line> {{stf.department}} - {{stf.departmentId}}</p>
    <mat-divider></mat-divider>
    <ion-icon name="arrow-dropright" end></ion-icon>
  </mat-list-item>
</mat-list>