<ion-content style="background: #30ADED;">
  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="assets/images/OfficePeople_Logo.png"
          style="width:20%; margin-left: auto; margin-right: auto; margin-top:10%"></ion-img>
        <ion-text>
          <h2 text-center>OFFICE PEOPLE</h2>
          <p text-center>Your online working environment</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid> -->


  <ion-slides pager="true" style="height: 90%; background: #30ADED;">
    <ion-slide>
      <div>
          <img src="assets/images/sliderimages/office_people_1.png" style="width:100%; background: #30ADED;">
      </div>
    </ion-slide>
    <ion-slide>
        <div>
            <img src="assets/images/sliderimages/office_people_2.png" style="width:100%; background: #30ADED;">
        </div>
      </ion-slide>
      <ion-slide>
          <div>
              <img src="assets/images/sliderimages/office_people_3.png" style="width:100%; background: #30ADED;">
          </div>
        </ion-slide>
        <ion-slide>
          <div>
              <img src="assets/images/sliderimages/office_people_4.png" style="width:100%; background: #30ADED;">
          </div>
        </ion-slide>
  </ion-slides>


  <ion-grid style="background: #30ADED; height: 10%">
      <ion-row>
          <ion-col>
              <a mat-raised-button color="primary" style="width:100%" href="/login">Sign In</a>
          </ion-col>
        </ion-row>
    </ion-grid>

  <!-- <p text-center style="font-size: 12px; margin-top: 3em" (click)="presentTermsAndCondition()">
    <span>Terms & Conditions</span>
  </p>

  <ion-grid style="margin-top: 1em">
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <p style="font-size: 8px" text-center>Created By</p>
        <ion-img src="assets/images/cmr_logo.png"></ion-img>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>