<!-- BEGIN: Footer-->
<footer
  class="page-footer footer footer-static footer-dark gradient-45deg-indigo-purple gradient-shadow navbar-border navbar-shadow">
  <div class="footer-copyright">
    <div class="container"><span>&copy; 2019 <a href="#" target="_blank">Office People</a> All rights
        reserved.</span><span class="right hide-on-small-only">Design and Developed by <a
          href="http://cmr.com.ng/">Collins Magnus Resources</a></span></div>
  </div>
</footer>
<!-- END: Footer-->
