<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Company Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
<ion-list *ngFor="let policy of policy; let i = index">
    <ion-item>
{{policy.name}} <ion-button slot="end" (click)="trial(policy)">Open Document</ion-button>
    </ion-item>

    <ion-item *ngIf= !policy>
Company has not uploaded any Policy Documents yet.
    </ion-item>

        
</ion-list>
</ion-card>

</ion-content>
